- block: 
  - name: Install pacman requirements for ansible.builtin.pip
    community.general.pacman:
      name: 
        # - python-virtualenv
        - azure-cli
      state: present

  # This collection comes with ansible package but it is not saved in `.ansible/collections` so this will do that. It will also install latest version
  # - name: Install azure.azcollection
  #   command: ansible-galaxy collection install azure.azcollection --force

  # - name: Ensure the virtual environment exists
  #   pip:
  #     name: psutil
  #     virtualenv: "{{ venv_dir }}"
  #     virtualenv_command: "{{ ansible_python_interpreter }} -m venv"

  - name: Install requirements
    pip: 
      requirements: "{{ venv_requirements }}"
      virtualenv: "/home/{{ user }}/venvs/ansible-azure-venv"
      virtualenv_site_packages: yes
      virtualenv_command: "python -m venv"
    become: true
    become_user: "{{ user }}"

    # `distutils` no longer exist in python3.12 and are deprecated
  - name: Install setuptools for distutils
    pip: 
      name: setuptools
      virtualenv: "/home/{{ user }}/venvs/ansible-azure-venv"
    become: true
    become_user: "{{ user }}"

  - name: Create azure resources
    # tags:
    #   - workstation
    block: 
      - name: Get existing azure ad application
        azure.azcollection.azure_rm_adapplication_info:
          app_display_name: "{{ azure_ad_application_display_name }}"
        become: true
        become_user: "{{ user }}"
        vars:
          ansible_python_interpreter: "{{ venv_python }}"
        register: azure_ad_application
      # - debug: var=azure_ad_application

      - name: Create a role definition
        azure.azcollection.azure_rm_roledefinition:
          name: myTestRole
          # scope: /subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourceGroups/myresourceGroup
          permissions:
            - actions:
                - "User.Read"
              # data_actions:
              #   - "Microsoft.Storage/storageAccounts/blobServices/containers/blobs/write"
          # assignable_scopes:
          #   - "/subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"

      - name: Create azure resources
        # tags:
        #   - workstation
        block: 
        - name: Get tenantId for the azure subscription
          command: 'az account show --query "{subscription_id: id, tenant_id: tenantId}"'
          register: azure_account_info_json
        - debug: var=azure_account_info_json

        - name: Transform azure_account_info_json variable to object
          ansible.builtin.set_fact:
              azure_account_info: "{{ azure_account_info_json.stdout | from_json }}"
        # - debug: var=azure_account_info

        - name: Create ad application
          azure.azcollection.azure_rm_adapplication:
            display_name: "{{ azure_ad_application_display_name }}"
            tenant: "{{ azure_account_info.tenant_id }}"
            sign_in_audience: "AzureADandPersonalMicrosoftAccount"
            web_reply_urls:
              - http://localhost:53682/
            required_resource_accesses:
              - resource_access:
                - id: 10465720-29dd-4523-a11a-6a75c743c9d9
                  type: Scope
                - id: df85f4d6-205c-4ac5-a5ea-6bf408dba283
                  type: Scope
                - id: 5c28f0bf-8a70-41f1-8ab2-9032436ddb65
                  type: Scope
                - id: 863451e7-0667-486c-a5d6-d135439485f0
                  type: Scope
                - id: 7427e0e9-2fba-42fe-b0c0-848c9e6a8182
                  type: Scope
                - id: 205e70e5-aba6-4c52-a976-6d2d46c48043
                  type: Scope
                - id: e1fe6dd8-ba31-4d61-89e7-88639da4683d
                  type: Scope
                resource_app_id: 00000003-0000-0000-c000-000000000000
          register: ad_application_output
        - debug: var=ad_application_output
        when: azure_ad_application.applications == []


    vars:
      ansible_python_interpreter: "{{ venv_python }}"
    become: true
    become_user: "{{ user }}"


  vars:
    venv_dir: "/home/{{ user }}/venvs/ansible-azure-venv"
    venv_python: "{{ venv_dir }}/bin/python"
    venv_requirements: /home/nikola/.ansible/collections/ansible_collections/azure/azcollection/requirements.txt
    azure_ad_application_display_name: "ansible_test"
