- name: rclone gcloud configuration
  tags:
    - rclone-azure
  block:
  - name: Install pacman requirements for ansible.builtin.pip
    community.general.pacman:
      name: 
        - azure-cli
      state: present

  # This collection comes with ansible package but it is not saved in `.ansible/collections` so this will do that. It will also install latest version
  - name: Install azure.azcollection
    command: ansible-galaxy collection install azure.azcollection --force

  - name: Install requirements
    pip: 
      requirements: "{{ venv_requirements }}"
      virtualenv: "{{ venv_dir }}"
      virtualenv_site_packages: yes
      virtualenv_command: "python -m venv"
    become: true
    become_user: "{{ user }}"

    # `distutils` no longer exist in python3.12 and are deprecated
  - name: Install setuptools for distutils
    pip: 
      name: setuptools
      virtualenv: "{{ venv_dir }}"
    become: true
    become_user: "{{ user }}"

  - name: Create azure resources
    # tags:
    #   - workstation
    block: 
      - name: Get existing azure ad application
        azure.azcollection.azure_rm_adapplication_info:
          app_display_name: "{{ azure_ad_application_display_name }}"
        become: true
        become_user: "{{ user }}"
        vars:
          ansible_python_interpreter: "{{ venv_python }}"
        register: azure_ad_application
      # - debug: var=azure_ad_application

      - name: Create azure resources
        # tags:
        #   - workstation
        block: 
        - name: Get tenantId for the azure subscription
          command: 'az account show --query "{subscription_id: id, tenant_id: tenantId}"'
          register: azure_account_info_json
        - debug: var=azure_account_info_json

        - name: Transform azure_account_info_json variable to object
          ansible.builtin.set_fact:
              azure_account_info: "{{ azure_account_info_json.stdout | from_json }}"
        # - debug: var=azure_account_info

        - name: Create ad application
          azure.azcollection.azure_rm_adapplication:
            display_name: "{{ azure_ad_application_display_name }}"
            tenant: "{{ azure_account_info.tenant_id }}"
            sign_in_audience: "AzureADandPersonalMicrosoftAccount"
            web_reply_urls:
              - http://localhost:53682/
            required_resource_accesses:
              - resource_access:
                - id: 10465720-29dd-4523-a11a-6a75c743c9d9
                  type: Scope
                - id: df85f4d6-205c-4ac5-a5ea-6bf408dba283
                  type: Scope
                - id: 5c28f0bf-8a70-41f1-8ab2-9032436ddb65
                  type: Scope
                - id: 863451e7-0667-486c-a5d6-d135439485f0
                  type: Scope
                - id: 7427e0e9-2fba-42fe-b0c0-848c9e6a8182
                  type: Scope
                - id: 205e70e5-aba6-4c52-a976-6d2d46c48043
                  type: Scope
                - id: e1fe6dd8-ba31-4d61-89e7-88639da4683d
                  type: Scope
                resource_app_id: 00000003-0000-0000-c000-000000000000
          register: ad_application_output
        - debug: var=ad_application_output
        when: azure_ad_application.applications == []


    vars:
      ansible_python_interpreter: "{{ venv_python }}"
    become: true
    become_user: "{{ user }}"


  vars:
    venv_dir: "/home/{{ user }}/venvs/ansible-azure-venv"
    venv_python: "{{ venv_dir }}/bin/python"
    # venv_requirements: /home/nikola/.ansible/collections/ansible_collections/azure/azcollection/requirements.txt
    azure_ad_application_display_name: "ansible_test"
    venv_requirements_possible_paths:
        - "/home/{{ user }}/.ansible/collections/ansible_collections/azure/azcollection/requirements.txt"
        - /usr/lib/python3.12/site-packages/ansible_collections/azure/azcollection/requirements-azure.txt
    venv_requirements: "{{ lookup('first_found', venv_requirements_possible_paths) }}"

