- name: Setup dotfiles
  tags:
    - workstation
  block: 
  - name: Clone dotfiles repo
    ansible.builtin.git:
      repo: https://gitlab.com/nikola.stojkovic/dotfiles_new
      dest: $HOME/.dotfiles
      bare: true
    become: true
    become_user: "{{ user }}"

  - name: Git checkout
    command: /usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME checkout
    become: true
    become_user: "{{ user }}"

  - debug: var={{ 10000000000 | random }}
    tags:
      - NONEXISTENTTAG
