- name: rclone gcloud configuration
  tags:
    - rclone-gcp
  block: 
  - name: Install python-jmespath
    community.general.pacman:
      name: 
        - python-jmespath
      state: present

  - name: Install google cloud cli
    kewlfft.aur.aur:
      use: yay
      name:
        - google-cloud-cli
    become: true
    become_user: aur_builder

  - name: Install azure.azcollection
    command: ansible-galaxy collection install azure.azcollection

  - name: Install requirements
    pip: 
      requirements: "{{ venv_requirements }}"
      virtualenv: "{{ venv_dir }}"
      virtualenv_site_packages: yes
      virtualenv_command: "python -m venv"
    become: true
    become_user: "{{ user }}"

  - name: Create google cloud resources
    block: 
      - name: Get access token
        command: "{{ gcloud_cli }} auth print-access-token"
        register: gcp_access_token
        no_log: true

      - name: Create gcp resources
        block: 
        - name: Get gcp organization
          command: "{{ gcloud_cli }} organizations list --format=json"
          register: gcp_org

        - set_fact:
            gcp_org_id: "{{ gcp_org.stdout | from_json | json_query('[0].name') | split('\/') | last }}"

        - name: Create gcp project
          google.cloud.gcp_resourcemanager_project:
            name: "{{ gcp_project_name }}"
            id: "{{ gcp_project_id }}"
            auth_kind: accesstoken
            parent:
              type: organization
              id: "{{ gcp_org_id }}"
            state: present

        - name: Create a service account
          google.cloud.gcp_iam_service_account:
            name: "sa-{{ gcp_project_name }}@{{ gcp_project_id }}.iam.gserviceaccount.com"
            display_name: "{{ gcp_service_account_display_name }}"
            project: "{{ gcp_project_id }}"
            auth_kind: accesstoken
            state: present

        - name: Add drive api integration services
          google.cloud.gcp_serviceusage_service:
            name: drive.googleapis.com
            project: "{{ gcp_project_id }}"
            auth_kind: accesstoken
            state: present

        - name: Create a directory if it does not exist
          ansible.builtin.file:
            path: "{{ gcp_service_account_credentials_directory }}"
            state: directory

        - name: Create a service account key
          google.cloud.gcp_iam_service_account_key:
            service_account:
              name: "{{ gcp_service_account_name }}"
            private_key_type: TYPE_GOOGLE_CREDENTIALS_FILE
            path: "{{ gcp_service_account_credentials_file }}"
            project: "{{ gcp_project_id }}"
            auth_kind: accesstoken
            state: present

        environment:
          GCP_ACCESS_TOKEN: "{{ gcp_access_token.stdout }}"
    vars:
      gcloud_cli: /opt/google-cloud-cli/bin/gcloud
      gcp_service_account_name: "sa-{{ gcp_project_name }}@{{ gcp_project_id }}.iam.gserviceaccount.com"
      ansible_python_interpreter: "{{ venv_python }}"
    become: true
    become_user: "{{ user }}"
       
  - name: Install and configure rclone
    ansible.builtin.include_role:
      name: stefangweichinger.ansible_rclone
    vars:
      rclone_configs:
        - name: gcloud
          properties:
            type: drive
            scope: drive
            service_account_file: "{{ gcp_service_account_credentials_file}}"
      rclone_config_location: "/home/{{ user }}/.config/rclone/rclone.conf"
      rclone_config_owner:
         OWNER: "{{ user }}"
         GROUP: "wheel"

  vars:
    gcp_project_name: nikola-ansible
    gcp_project_id_number: 9132537834
    gcp_project_id: "{{ gcp_project_name }}-{{ gcp_project_id_number}}"
    gcp_service_account_display_name: "{{ gcp_project_id}}-service-account"
    gcp_service_account_credentials_directory: "/home/{{ user }}/.credentials"
    gcp_service_account_credentials_file: "{{ (gcp_service_account_credentials_directory, gcp_service_account_display_name) | path_join }}.json"
    venv_dir: "/home/{{ user }}/venvs/ansible-gcloud-venv"
    venv_python: "{{ venv_dir }}/bin/python"
    venv_requirements_possible_paths:
      - /usr/lib/python3.12/site-packages/ansible_collections/google/cloud/requirements.txt
    venv_requirements: "{{ lookup('first_found', venv_requirements_possible_paths) }}"

