- name: rclone gcloud configuration
  tags:
    - workstation
    - rclone-gcp
  block: 
  - name: Install python-jmespath
    community.general.pacman:
      name: 
        - python-jmespath
      state: present

  - name: Install google cloud cli
    kewlfft.aur.aur:
      use: yay
      name:
        - google-cloud-cli
    become: true
    become_user: aur_builder

  - name: Install azure.azcollection
    command: ansible-galaxy collection install azure.azcollection

  - name: Install requirements
    pip: 
      requirements: "{{ venv_requirements }}"
      virtualenv: "{{ venv_dir }}"
      virtualenv_site_packages: yes
      virtualenv_command: "python -m venv"
    become: true
    become_user: "{{ user }}"

  - name: Create google cloud resources
    block: 
      - name: Get access token
        command: "{{ gcloud_cli }} auth print-access-token"
        register: gcp_access_token
        no_log: true

      # - name: Get existing google cloud project
      #   gcp_resourcemanager_project_info:
      #     # project: "{{ gcp_project_name}}"
      #     auth_kind: accesstoken
      #     page_size: 100
      #   environment:
      #     GCP_ACCESS_TOKEN: "{{ gcp_access_token.stdout }}"
      #   register: gcp_existing_projects
      # - debug: var=gcp_existing_projects

        # TODO: is it possible to filter projects in gcp_resourcemanager_project_info? With project specified it still returns all projects
      # - set_fact:
      #     gcp_existing_project: "{{ gcp_existing_projects | json_query(query) }}"
      #   vars:
      #     query: "resources[?projectId == '{{ gcp_project_id }}']"
      # - debug: var=gcp_existing_project

      - name: Create gcp resources
        block: 
        - name: Get gcp organization
          command: "{{ gcloud_cli }} organizations list --format=json"
          register: gcp_org

        - set_fact:
            gcp_org_id: "{{ gcp_org.stdout | from_json | json_query('[0].name') | split('\/') | last }}"

        - name: Create gcp project
          google.cloud.gcp_resourcemanager_project:
            name: "{{ gcp_project_name }}"
            # id: "{{ gcp_project_name }}-{{ 10000000000 | random }}"
            id: "{{ gcp_project_id }}"
            auth_kind: accesstoken
            parent:
              type: organization
              id: "{{ gcp_org_id }}"
            state: present
          environment:
            GCP_ACCESS_TOKEN: "{{ gcp_access_token.stdout }}"

        - name: Create a service account
          google.cloud.gcp_iam_service_account:
            name: "sa-{{ gcp_project_name }}@{{ gcp_project_id }}.iam.gserviceaccount.com"
            display_name: "{{ gcp_service_account_name }}"
            project: "{{ gcp_project_id }}"
            auth_kind: accesstoken
            state: present
          environment:
            GCP_ACCESS_TOKEN: "{{ gcp_access_token.stdout }}"

        - name: Create a drive service
          google.cloud.gcp_serviceusage_service:
            name: drive.googleapis.com
            project: "{{ gcp_project_id }}"
            auth_kind: accesstoken
            state: present
          environment:
            GCP_ACCESS_TOKEN: "{{ gcp_access_token.stdout }}"
    vars:
      gcloud_cli: /opt/google-cloud-cli/bin/gcloud
      gcp_project_name: nikola-ansible
      gcp_project_id_number: 9825114222
      gcp_project_id: "{{ gcp_project_name }}-{{ gcp_project_id_number}}"
      gcp_service_account_name: "{{ gcp_project_id}}-service-account"
      ansible_python_interpreter: "{{ venv_python }}"
    become: true
    become_user: "{{ user }}"


  vars:
    venv_dir: "/home/{{ user }}/venvs/ansible-gcloud-venv"
    venv_python: "{{ venv_dir }}/bin/python"
    azure_ad_application_display_name: "ansible_test"
    venv_requirements_possible_paths:
      - /usr/lib/python3.12/site-packages/ansible_collections/google/cloud/requirements.txt
    venv_requirements: "{{ lookup('first_found', venv_requirements_possible_paths) }}"

