- name: Install lvim
  tags:
    - workstation
  block:
  - name: Install zsh
    community.general.pacman:
      name: 
        - zsh
      state: latest

  - name: Download Oh My Zsh installation script
    get_url:
      url: https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh
      dest: /tmp/install_ohmyzsh.sh

  - name: Run Oh My Zsh installation script
    command: sh /tmp/install_ohmyzsh.sh --unattended --keep-zshrc
    register: ohmyzsh_result
    failed_when: "'FAILED' in ohmyzsh_result.stderr"
    become: true
    become_user: "{{ user }}"
  # - debug: var=ohmyzsh_result.stdout_lines

  - name: Ensure default shell is zsh for "{{ user }}"
    ansible.builtin.user:
      name: "{{ user }}"
      shell: /usr/bin/zsh
