- block: 
  - name: Enable and start ssh-agent.service
    ansible.builtin.systemd_service:
      name: ssh-agent.service
      scope: user
      state: started
      enabled: true

  - name: Create environment.d directory if it does not exist
    ansible.builtin.file:
      path: "{{ envd }}"
      state: directory

  # something doesn't work
  - name: Set SSH_AUTH_SOCK
    ansible.builtin.copy:
      content: 'SSH_AUTH_SOCK="$XDG_RUNTIME_DIR/ssh-agent.socket"'
      dest: "{{ (envd, 'ssh-agent.conf') | path_join }}"

  vars:
    envd: "/home/{{ user }}/.config/environment.d"

  become: true
  become_user: "{{ user }}"
