- name: Add user
  block: 
  - name: Create temporary file
    ansible.builtin.tempfile:
      state: directory
      prefix: venv
    register: venv_tempdir

  - name: Install requirements
    pip: 
      name: passlib
      virtualenv: "{{ venv_tempdir.path }}"
      virtualenv_site_packages: yes
      virtualenv_command: "python -m venv"
    # become: true
    # become_user: "{{ user }}"

  - name: Add the user
    ansible.builtin.user:
      name: "{{ user }}"
      group: wheel
      create_home: true
      skeleton: /dev/null
      password: "{{ vault_password | password_hash('sha512') }}"
    vars:
      ansible_python_interpreter: "{{ venv_python }}"

  - name: Add user to sudoers
    become: true
    ansible.builtin.lineinfile:
      path: /etc/sudoers.d/12-{{ user }}
      line: '{{ user }} ALL=(ALL:ALL) ALL'
      create: true
      mode: 0644
      validate: 'visudo -cf %s'

  vars:
    venv_python: "{{ venv_tempdir.path }}/bin/python"
