- block: 
  - name: Run the equivalent of "pacman -Sy" as a separate step
    community.general.pacman:
      update_cache: true

  - name: Install package git base-devel from repo
    community.general.pacman:
      name: 
        - git
        - base-devel
      state: present

  - name: Install collections
    community.general.ansible_galaxy_install:
      type: collection
      requirements_file: requirements.yml

  - name: Create the `aur_builder` user
    become: true
    ansible.builtin.user:
      name: aur_builder
      create_home: yes
      group: wheel

  - name: Allow the `aur_builder` user to run `sudo pacman` without a password
    become: true
    ansible.builtin.lineinfile:
      path: /etc/sudoers.d/11-install-aur_builder
      line: 'aur_builder ALL=(ALL) NOPASSWD: /usr/bin/pacman'
      create: true
      mode: 0644
      validate: 'visudo -cf %s'


  - name: Install yay using makepkg if it isn't installed already
    kewlfft.aur.aur:
      name: yay
      use: makepkg
      state: present
    become: true
    become_user: aur_builder
