
- name: Install i3
  block:
  - name: Install x packages
    community.general.pacman:
      name: 
        - xorg-server
        - xorg-xinit
        - x11-ssh-askpass
      state: latest

  - name: Install i3
    community.general.pacman:
      name: 
        - gnu-free-fonts
        - i3-wm
        - i3status
      state: latest

  - name: Install core GUI stuff
    community.general.pacman:
      name: 
        - dmenu
      state: latest

  - name: Install pacman GUI stuff
    community.general.pacman:
      name: 
        - alacritty
        - tmux
        - firefox
        - ttf-meslo-nerd
      state: latest

  - name: Install aur GUI stuff
    kewlfft.aur.aur:
      use: yay
      name:
        - brave-bin
        - nordic-theme
    become: true
    become_user: aur_builder
    
  - name: Update config files
    block:
    - name: Update i3 config file
      ansible.builtin.template:
        src: tasks/i3/i3/config
        dest: $HOME/.config/i3/config
    - name: Update i3 status config file
      ansible.builtin.template:
        src: tasks/i3/i3status/config
        dest: $HOME/.config/i3status/config
    become: true
    become_user: "{{ user }}"
